@use '../../sass/common' as *;

.parameters {
	position: absolute;
	left: 0;
	width: 90%;
	padding: 2em 0;
	font-weight: 500;
	color: $white;
	@include bgGradient(to right);
	border-radius: 0px 50px 50px 0px;
	@include shadow;

	.wrapper {
		display: flex;
		flex-direction: column;
		gap: 1.5em;
	}

	.item {
		display: flex;
		align-items: center;
		gap: 0.5em;

		svg {
			font-size: 1.5em;
		}

		span {
			margin-left: 1em;
		}
	}
}

@media (width >=500px) {
	.parameters {
		padding-left: 2em;
	}
}

@media (width >=768px) {
	.parameters {
		max-width: 80%;
		padding-left: 6em;
	}
}

@media (width >=992px) {
	.parameters {
		width: 45%;
		padding-left: 7%;
	}
}

@media (width >=1400px) {
	.parameters {
		position: relative;
		width: 100%;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 70%;
			border-radius: 50px 0px 0px 50px;
			transform: translateX(-99%);
			background-color: $green;
		}
	}
}
