@use './colors' as *;

@mixin heading {
	font-family: var(--font-barlow);
	letter-spacing: 5%;
	text-transform: uppercase;
	font-size: 3em;
}

@mixin sectionHeading {
	font-size: 2em;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
}

@mixin text {
	line-height: 1.8em;
	font-weight: 500;
}

@mixin shadow {
	box-shadow: -3px 3px 15px 5px #0006;
}

@mixin mainButton {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.1em 1.3em;
	width: fit-content;
	font-weight: bold;
	background-color: $green;
	border-radius: 6px;
	text-transform: uppercase;
	color: $white;
	scale: 1;
	transition: background-color 0.3s, scale 0.3s;

	&:hover {
		background-color: #035e36;
		scale: 0.97;
	}
}

@mixin bgGradient{
	background: linear-gradient(to top right, $green, #275e29);
}
