@use './reset';
@use './hamburger';
@use './common' as *;

body {
	min-width: 350px;
	font-size: 1.4rem;
	color: $black;

	h1,
	h2,
	h3,
	h4 {
		font-family: var(--font-barlow);
	}
	
	@media (min-width: 400px) {
		font-size: 1.6rem;
	}
}
