@use '../../sass/common' as *;

.section {
    padding: 5em 0em;
    padding-top: 5em;
    padding-bottom: 8em;
    overflow: clip;
    background-color: $white;

    h2 {
        @include sectionHeading;

        span {
            font-size: 0.7em;
            text-transform: none;
            color: $green
        }
    }

    .text {
        @include text;
        margin-top: 2em;
        text-align: left;
    }

    .plotsContainer {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        max-width: 1320px;
        margin: 0 auto;
        margin-top: 3em;
    }
}

@media(width >= 768px) {
    .section {
        padding-bottom: 7em;

        .text {
            margin: 0 auto;
            margin-top: 2em;
            max-width: 690px;
            text-align: center;
        }
    }
}